<!DOCTYPE html>
<html>
<head>
<style>
body {

background-color: #000000;
background: repeating-radial-gradient(rgba(0, 98, 204, 0.74), rgba(47, 41, 41, 100) 27%);
border-left: 35px double #996633;
border-right: 35px double #996633;
}
@font-face {
src: url(static/Euclid.ttf);
font-family: zen; }

h1 {
color: #996633;
font-family: zen;
font-size: 99px;
font-weight: bolder;
}

</style>
</head>

<body>


<h1 style="margin-top: -120px;"><p ALIGN=Center><U>Fortune Teller</U></h1>
<h2 style="margin-top: -110px; margin-bottom: -14px;"><p ALIGN=Center>Choose one:</h2>

<p ALIGN=Center><a href="show"><button type="button">Air</button></a><br/>

<p ALIGN=Center><a href="show"><button type="button">Fire</button></a><br/>

<p ALIGN=Center><a href="show"><button type="button">Water</button></a><br/>


<p ALIGN=Center><img src="static/image11.png" alt="You're full of magic"
width="500" height="500"><br/>
<HR>
<h3><p ALIGN=Center>Made by Ipshita Singh</h3>


</body>
</html>